.notes-main{
    display: flex;
    height: 100vh;
    padding: 2rem;
    background-color: #E8F0FF;
}
.notes-lists{
    width: 40%;
}
.note-editor{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}